
<section class="map"> 
  <!-- google map -->
  <div class="map-holder">
    <div class="map-container">
      <iframe class="map" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Nasik,+Maharashtra,+India&amp;aq=0&amp;oq=M%C3%BCnchen&amp;sll=19.9909493,73.7334405&amp;sspn=19.9909493,73.7334405&amp;ie=UTF8&amp;hq=&amp;hnear=Nasik,+Maharashtra,+India&amp;t=m&amp;ll=19.9909493,73.7334405&amp;spn=0.347588,2.635345&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe>
      <!-- end google map --> 
    </div>
    <!--map-container ends here--> 
  </div>
  <!--map-holder ends here--> 
</section>

<!-- Contact Content Part - Contact Form ==================================================
================================================== -->
<div class="container">
  <div class="blankSeparator"></div>
  <%= form_for(@contact) do |f| %>
  <div class="">
      
    <div id="contactForm">
      <h2 style="font-size: 24px;text-align: center;text-transform: uppercase;">Leave a comment</h2>
      <div class="sepContainer"></div>
      <form action="process.php" method="post" id="contact_form">
        <div class="name">
          <%= f.text_field "first_name", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your First Name" %>
        </div>
        <div class="name">
          <%= f.text_field "last_name", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Last Name" %>
        </div>
        <div class="name">
          <%= f.text_field "email", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Email" %>
        </div>
        <div class="name">
          <%= f.text_field "phone_no", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Phone Number" %>
        </div>
        <div class="name">
          <%= f.text_field "company_name", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Company Name" %>
        </div>
        <div class="name">
          <%= f.text_field "industry_type", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Industry Type" %>
        </div>
        <div class="name">
          <%= f.text_field "city", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your City Name" %>
        </div>
        <div class="name">
          <%= f.text_field "country", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Country Name" %>
        </div>
        <div class="name">
          <%= f.text_field "site_url", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Website URL" %>
        </div>
        <div class="name">
          <%= f.text_field "skype_id", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Skype ID" %>
        </div>
        <div class="name">
          <%= f.text_field "gtalk", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Google Talk" %>
        </div>
        <div class="name">
          <%= f.text_field "linkedin_url", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Linkedin URL" %>
        </div>
        <div class="name">
          <%= f.text_field "twitter_url", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Twitter URL" %>
        </div>
        <div class="name">
          <%= f.text_field "service", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Required Services" %>
        </div>
        <div class="name">
          <%= f.text_field "rate", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Rate" %>
        </div>
        <div class="name">
          <%= f.text_field "hear_about_us", :size => 29, :class => "form-control input-sm", :placeholder => "How you have heared about us" %>
        </div>
        <div class="name">
          <%= f.text_field "budget", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Budget" %>
        </div>
          
        <div id="loader">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
      
    <!-- end contactForm --> 
  </div>
  <% end %>
</div>
<div class="blankSeparator2"></div>

<style>
.name {
	float: left;
    padding-left: 51px;
    padding-right: 6px;
}
</style>

<script>
$(document).on('load turbolinks:load', function () {
  $('#new_contact').submit(function(e){
    var is_form_submit = true;
    
    var first_name = $("#contact_first_name");
    if(first_name.val() == ""){
      is_form_submit = false;
      first_name.css({"border": "2px solid red"});
    }
    
    var last_name = $("#contact_last_name");   
    if(last_name.val() == ""){
      is_form_submit = false;
      last_name.css({"border": "2px solid red"});
    }
    
    var email = $("#contact_email");   
    if(email.val() == ""){
      is_form_submit = false;
      email.css({"border": "2px solid red"});
    }    
    
    var phone_no = $("#contact_phone_no");   
    if(phone_no.val() == ""){
      is_form_submit = false;
      phone_no.css({"border": "2px solid red"});
    }      
    
    if(!is_form_submit){
      return false;
    }
    
  })
});  
</script>
