<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs ================================================== 
================================================== -->

<meta charset="utf-8">
<title>Proximet Responsive Site Template</title>
<meta name="description" content="Place to put your description text">
<meta name="author" content="">
<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Mobile Specific Metas ================================================== 
================================================== -->

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<!-- CSS ==================================================
================================================== -->

<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/skeleton.css">
<link rel="stylesheet" href="css/screen.css">
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" />

<!-- Favicons ==================================================
================================================== -->

<link rel="shortcut icon" href="images/favicon.png">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<!-- Google Fonts ==================================================
================================================== -->

<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- Home - Content Part ==================================================
================================================== -->
<!-- Contact Content Part - GoogleMap ==================================================
================================================== -->
<section class="map"> 
  <!-- google map -->
  <div class="map-holder">
    <div class="map-container">
      <iframe class="map" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Nasik,+Maharashtra,+India&amp;aq=0&amp;oq=M%C3%BCnchen&amp;sll=19.9909493,73.7334405&amp;sspn=19.9909493,73.7334405&amp;ie=UTF8&amp;hq=&amp;hnear=Nasik,+Maharashtra,+India&amp;t=m&amp;ll=19.9909493,73.7334405&amp;spn=0.347588,2.635345&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe>
      <!-- end google map --> 
    </div>
    <!--map-container ends here--> 
  </div>
  <!--map-holder ends here--> 
</section>

<!-- Contact Content Part - Contact Form ==================================================
================================================== -->
<div class="container">
  <div class="blankSeparator"></div>
  <!-- Contact Sidebar ==================================================
================================================== -->
  <div class="one_third contactsidebar">
    <section class="first">
      <h3>Our Navigation</h3>
      <div class="boxtwosep"></div>
      <ul class="contactsidebarList">
        <li>Seva Sanket-B, Row House No.13,</li>
        <li>Bhadrapath Sector, Swami Samartha Nagar,</li>
        <li>New CIDCO, Nashik</li>
        <li>Maharashtra, India, 422009.</li>
        <li>Website: <a href="http://www.aderlogik.com" target="_blank" title="">http://www.aderlogik.com</a></li>
        <li>Email: <a href="#" title="">info@aderlogik.com</a></li>
      </ul>
    </section>
    <section class="third">
      <h3>Latest Offers</h3>
      <div class="boxtwosep"></div>
      <h5><span class="color">40%</span> Discount &rsaquo;&rsaquo; On each application</h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
    </section>
  </div>
  <!-- one_third ends here -->
  <%= form_for(@contact) do |f| %>
  <div class="two_third lastcolumn contact1">
      
    <div id="contactForm">
      <h2>Leave a comment</h2>
      <div class="sepContainer"></div>
      <form action="process.php" method="post" id="contact_form">
        <div class="name">
          <label for="name">First Name:</label>
          <%= f.text_field "first_name", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your First Name" %>
        </div>
        <div class="name">
          <label for="email">Last Name:</label>
          <%= f.text_field "last_name", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Last Name" %>
        </div>
        <div class="name">
          <label for="name">Email:</label>
          <%= f.text_field "email", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Email" %>
        </div>
        <div class="name">
          <label for="name">Phone No:</label>
          <%= f.text_field "phone_no", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Phone Number" %>
        </div>
        <div class="name">
          <label for="name">Company Name:</label>
          <%= f.text_field "company_name", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Company Name" %>
        </div>
        <div class="name">
          <label for="name">Industry Type:</label>
          <%= f.text_field "industry_type", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Industry Type" %>
        </div>
        <div class="name">
          <label for="name">City:</label>
          <%= f.text_field "city", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your City Name" %>
        </div>
        <div class="name">
          <label for="name">Country:</label>
          <%= f.text_field "country", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Country Name" %>
        </div>
        <div class="name">
          <label for="name">Site URL:</label>
          <%= f.text_field "site_url", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Website URL" %>
        </div>
        <div class="name">
          <label for="name">Skype ID:</label>
          <%= f.text_field "skype_id", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Skype ID" %>
        </div>
        <div class="name">
          <label for="name">Gtalk:</label>
          <%= f.text_field "gtalk", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Google Talk" %>
        </div>
        <div class="name">
          <label for="name">Linkedin URL:</label>
          <%= f.text_field "linkedin_url", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Linkedin URL" %>
        </div>
        <div class="name">
          <label for="name">Twitter URL:</label>
          <%= f.text_field "twitter_url", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Twitter URL" %>
        </div>
        <div class="name">
          <label for="name">Required Services:</label>
          <%= f.text_field "service", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Required Services" %>
        </div>
        <div class="name">
          <label for="name">Rate:</label>
          <%= f.text_field "rate", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Rate" %>
        </div>
        <div class="name">
          <label for="name">How you have heared about us:</label>
          <%= f.text_field "hear_about_us", :size => 29, :class => "form-control input-sm", :placeholder => "How you have heared about us" %>
        </div>
        <div class="name">
          <label for="name">Budget:</label>
          <%= f.text_field "budget", :size => 29, :class => "form-control input-sm", :placeholder => "Enter Your Budget" %>
        </div>

        <div id="loader">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
      
    <!-- end contactForm --> 
  </div>
  <% end %>
</div>
<div class="blankSeparator2"></div>

<style>
.name {
    float: left;
    padding-right: 90px;
}
</style>
<!-- copyright ends here --> 
<!-- End Document
================================================== --> 
<!-- Scripts ==================================================
================================================== --> 
<script src="js/jquery-1.8.0.min.js" type="text/javascript"></script> 
<!-- Main js files --> 
<script src="js/screen.js" type="text/javascript"></script> 
<!-- Tooltip --> 
<script src="js/poshytip-1.0/src/jquery.poshytip.min.js" type="text/javascript"></script> 
<!-- Tabs --> 
<script src="js/tabs.js" type="text/javascript"></script> 
<!-- Tweets --> 
<script src="js/jquery.tweetable.js" type="text/javascript"></script> 
<!-- Include prettyPhoto --> 
<script src="js/jquery.prettyPhoto.js" type="text/javascript"></script> 
<!-- Include Superfish --> 
<script src="js/superfish.js" type="text/javascript"></script> 
<script src="js/hoverIntent.js" type="text/javascript"></script> 
<!-- Flexslider --> 
<script src="js/jquery.flexslider-min.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/modernizr.custom.29473.js"></script>
</body>
</html>
